.main-container {
  background: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: 100vh;
}
.nav-bar {
  background-color: #2c0e3a;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.website-logo {
  height: 20px;
  width: 75px;
}
.score-timer-container {
  display: flex;
}
.nav-score {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-left: 50px;
}
.span-tag {
  color: #fec653;
  font-size: 15px;
}
.timer-container {
  display: flex;
  margin-top: 10px;
}
.timer-logo {
  height: 20px;
  width: 20px;
}
.timer-text {
  color: #fec653;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 3px;
}
.game-scorecard-pages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
