.game-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-to-be-matched {
  height: 35vh;
  width: 80vw;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .image-to-be-matched {
    height: 40vh;
    width: 50vw;
  }
}
.tabs-container {
  margin-top: 25px;
  text-align: center;
  display: flex;
  list-style: none;
}

.tabs-btn {
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  border: none;
  outline: none;
  margin: 5px;
}
.active-tab-btn {
  background-color: transparent;
  color: #fec653;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  border: none;
  outline: none;
  margin: 5px;
  border-bottom: 2px #fec653 solid;
}
.thumbnails-container {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .thumbnails-container {
    width: 40vw;
  }
}
.thumbnail-btn {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 5px;
}
.thumbnail-img {
  height: 55px;
  width: 55px;
}
